body {
    margin-top: 40px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}

#nav {
    margin-bottom: 10%;
    font-size: 3em;
}

#field {
    display: inline-flex;
}

#right {
    margin-right: auto;
}

#center {
    margin: auto;
}

#left {
    margin-left: auto;
}

.box {
    background-color: hsla(213, 100%, 50%, 1);
    width: 8em;
    height: 8em;
    padding: 10px;
    margin: 6px 10px 20px 16px;
    border: 16px black solid;
    cursor: pointer;
}

.box:hover {
    background-color: black;
    border: 16px hsla(213, 100%, 50%, 1) solid;
}