body {
    margin-top: 40px;
    /*font-family: 'Press Start 2P';
    font-family: 'Oranienbaum', serif;*/
    font-size: 1.5em;
    font-family: 'Black Ops One', cursive;
    font-weight: bold;
    text-align: center;
    background-color: hsla(213, 100%, 50%, 0.05);
}

#field {
    display: inline-flex;
}

#right {
    margin-right: auto;
}

#center {
    margin: auto;
}

#left {
    margin-left: auto;
}

.box {
    background-color: hsla(213, 100%, 50%, 1);
    width: 8em;
    height: 8em;
    padding: 10px;
    margin: 6px 10px 20px 16px;
    border: 16px black solid;
    transition: 0.5s;
    cursor: pointer;
}

.box:hover {
    background-color: red;
}

.button {
    border-radius: 10px;
    background-color: hsla(213, 100%, 50%, 1);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Black Ops One';
    padding: 15px;
    width: 22%;
    transition: all 1s;
    cursor: pointer;
    margin: 25px 10px 0px 10px;
    margin-bottom: 1em;
}

.button:hover {
    background-color: black;
    color: hsla(213, 100%, 50%, 1);
}

h1 {
    font-family: 'Press Start 2P';
    font-size: 4em;
}

hr {
    width: 50%;
    border-top: 9px solid hsla(213, 100%, 50%, 1);
    border-radius: 100%;
}

p {
    font-family: 'Oranienbaum';
    font-size: 1em;
}



/*There is the Mediaqueries for Fulscreens, Tablet, and Smartphones*/

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 736px) {}

@media screen and (max-width: 480px) {}
